body{
    background-color: rgba(255, 255, 255, 0.274);
    margin: auto;
    max-width: 1000px;
    padding: 15px;
    border: 3px solid rgb(107, 2, 2);
    border-radius: 15px;
}
.title_text{
    color: rgb(107, 2, 2);
    font-family: Verdana;
    text-align: center;
    padding-top: 20px;
}
.post{
    padding: 15px;
}
.blood_image{
    width: 10%;
    height: 10%;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
.main_text{
    color: rgb(107, 2, 2);
    text-align: justify;
    font-size: large;
    font-weight: bold;
    padding-top: 20px;
}
.footer_rules{
    font-weight: bold;
    padding-top: 25px;
    padding-left: 15px;
}